:root {
  font: 18px/145% system-ui, sans-serif;
  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 2rem auto;
  max-width: 480px;
  padding: 0 1rem;
}

button {
  padding: 0.5rem 1.25rem;
  cursor: pointer;
}
